<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/my_style.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/my_script.js') }}"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <h3>My Flask Template</h3>
    <p>Phrase: {{ phrase }}</p>
    <p>Times: {{ num_times }}</p>

    {% for x in range(0,num_times): %}
    <p>{{ phrase }}</p>
    {% endfor %} {% if phrase == "hello" %}  
    <p>The phrase says hello</p>
    {% endif %}
  </body>
</html>
