<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='show.css') }}"
    />
    <title>Result</title>
  </head>
  <body>
    <form class="form-group" action="/" method="post">
      <h3>Submitted Info:</h3>
      <label class="col-sm-2 col-form-label col-form-label-sm" for="name"
        >Name:</label
      >
      <p>{{ session['name'] }}</p>
      <label class="col-sm-2 col-form-label col-form-label-sm" for="city"
        >City:</label
      >
      <p>{{ session ['city'] }}</p>
      <label class="col-sm-2 col-form-label col-form-label-sm" for="language"
        >Language:</label
      >
      <p>{{ session ['Language'] }}</p>
      <label class="col-sm-2 col-form-label col-form-label-sm" for="gender"
        >Gender:</label
      >
      <p>{{ session ['Gender'] }}</p>
      <label class="col-sm-2 col-form-label col-form-label-sm" for="comment"
        >Comment:</label
      >
      <p>{{ session ['Checkbox'] }}</p>

      <label class="col-sm-2 col-form-label col-form-label-sm" for="checkbox"
        >Checkbox:</label
      >
      <p>{{ session ['Comment'] }}</p>

      <div class="bg-light text-right">
        <button type="submit" class="btn btn-primary">Go Back</button>
      </div>
    </form>
  </body>
</html>
